APP_NAME=Crime Analytics API
APP_ENV=dev
APP_DEBUG=true
APP_CORS_ORIGINS=*

OG_HOST=1.95.135.195
OG_PORT=26000
OG_DATABASE=testdb
OG_USER=testuser
OG_PASSWORD=DBlab@123
OG_SCHEMA=testuser
OG_TABLE=crimes_raw
OG_ANALYSIS_TABLE=crimes_clean
OG_SSLMODE=prefer
OG_CONNECT_TIMEOUT=15
OG_CSV_PATH=D:/database/crimes-2001-to-present/Crimes_-_2001_to_Present.csv
